.access-overlay {
  position: fixed;
  inset: 0;
  background: rgba(245,246,248,0.96);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99999;
}

.access-box {
  width: 420px;
  background: white;
  border-radius: 28px;
  padding: 42px;

  box-shadow:
    0 20px 60px rgba(0,0,0,0.12);

  border: 1px solid #e3e7ed;

  text-align: center;
}

.access-box h2 {
  font-size: 32px;
  margin-bottom: 12px;
  color: #1f6556;
}

.access-subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 32px;
}

.access-buttons {
  display: flex;
  gap: 14px;
}

.access-btn {
  flex: 1;
  height: 58px;

  border: none;
  border-radius: 16px;

  background: #1f6556;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;
}

.access-btn:hover {
  transform: translateY(-2px);
}

.access-btn.secondary {
  background: #e9edf2;
  color: #333;
}

.shop-login {
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 26px;
}

.shop-login input {
  height: 54px;

  border: 1px solid #d7dfe8 !important;
  border-radius: 14px;

  padding: 0 16px;

  background: white !important;
}

.login-btn {
  height: 54px;

  border: none;
  border-radius: 14px;

  background: #de8033;
  color: white;

  font-weight: 600;

  cursor: pointer;
}

.login-error {
  display: none;

  color: #d11a2a;
  font-size: 14px;
}

.hidden {
  display: none;
}


/* ---------------------- */
/* FIX LARGHEZZA LOGIN */
/* ---------------------- */


.shop-login input,
.login-btn {
  width: 260px;
  box-sizing: border-box;
}
